body {
    background-color: #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain; /*cover: total screen, contain: image totally visible*/
}

#logo {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 250px;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: none; /* Start invisible */
}
